.App {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-wrapper {
  border: 3px solid deepskyblue;
  border-radius: 15px;
  padding: 20px;
  width: 400px;
  height: 300px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 30px;
  justify-content: center;
  align-items: center;
}

.settings-wrapper {
  display: flex;
  flex-direction: column;
  border: 3px solid deepskyblue;
  border-radius: 15px;
  padding: 20px;
  width: 400px;
  height: 300px;
}

h2 {
  color: white;
}

.settings-displays {
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 3px solid deepskyblue;
  border-radius: 15px;
  margin-bottom: 20px;
  height: 100%;
}

.settings-buttons {
  border: 3px solid deepskyblue;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}
